//archivo con el contenedor al que envía el enlace modificar
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Editar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Editar</a>
    </nav>

    <br>
    <div class="container">
        <div class="col-md-5">
            <div class="card">
                <div class="card body">
                    <form action="/edit/<%= valor._id %>" method="POST">
                        <div class="form-group">
                            <input type="text" name="Nombre" placeholder="Nombre"
                                value="<%= valor.Nombre %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Apellido" placeholder="Apellido" 
                            value="<%= valor.Apellido %>"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Edad" placeholder="Edad" 
                            value="<%= valor.Edad %>"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Genero" placeholder="Genero" 
                            value="<%= valor.Genero %>"
                                class="form-control">
                        </div>
                        <br>
                        <button class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>

</html>